@import '../../../../vendor/filament/filament/resources/css/theme.css';
/* @import '../../../../vendor/filafly/lucent/resources/css/theme.css'; */
/* @import '../../../../vendor/filafly/brisk/resources/css/theme.css'; */


@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


.fi-sidebar {
    @apply border-r-1 border-gray-100 dark:border-none dark:bg-gray-900 bg-white;
    /* background-color:; */

    /* background-color: #251a4d !important; */
}
.fi-sidebar-close-overlay{
    /* @apply  fi-sidebar-close-overlay; */
}
.fi-page,
.fi-page-content {
    @apply w-full max-w-none;
}
/* Remove max width and centering */
.fi-main,
.fi-main .fi-main-content {
    /* @apply bg-white; */
    max-width: 100% !important;
    width: 100% !important;
}

.fi-page-sub-navigation-sidebar-ctn{
    height: 100vh;
    @apply border-r-1 border-gray-200 dark:border-none pr-5;
}

/* Kill the auto-centering */
.fi-main .mx-auto {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.fi-main-ctn{
    /* background-color: #000 !important; */

    display:flex;
    flex: 2;
    padding: 0;
}


.ec-list .ec-day-head { 
    @apply bg-white dark:bg-gray-900;
    background-color: transparent;
    border-style: solid none;
    margin: -1px 0 0;
    padding: 8px 14px;
    position: sticky;
    top: 0;
    z-index: 2;
}
 